---
import '../styles/style.css';
import NavbarDos from '../components/1-NavbarDos.astro';
import Footer from '../components/8-Footer.astro';
import Scripts from '../components/9-Scripts.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Artistic Embroidery 404</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/animate.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/magnific-popup.min.css" />
    <link rel="stylesheet" href="/assets/css/nice-select.min.css" />
    <link rel="stylesheet" href="/assets/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="/assets/css/flaticon.min.css" />
    <link rel="stylesheet" href="/assets/css/slick.min.css" />
  </head>
  <body>
    <div class="page-wrapper">
      <!-- Preloader -->
      <div class="preloader" id="preloader"></div>
    </div>
    <NavbarDos />
    <!-- Error Page Start -->
    <section class="error-page-area py-130">
      <div class="container">
        <div class="error-page-content text-center">
          <div class="image mb-65 wow fadeInUp delay-0-2s">
            <img src="assets/images/404.png" alt="404 Error" />
          </div>
          <div class="circle-square">
            <div class="shape-inner">
              <span class="dot-one"></span>
              <span class="dot-two"></span>
              <span class="dot-three"></span>
              <span class="dot-four"></span>
              <span class="dot-five"></span>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div class="section-title wow fadeInUp delay-0-2s"></div>
            </div>
          </div>
          <a href="home.html" class="theme-btn mt-15 wow fadeInUp delay-0-2s"
            >Go To Home <i class="fas fa-arrow-right"></i></a
          >
        </div>
      </div>
    </section>
    <!-- Error Page End -->
    <Footer />
    <Scripts />
  </body>
</html>
