---
import { Image } from 'astro:assets';
import logo from '../assets/images/logos/logo.png';
---

<!-- Navbar Top -->
<h1 class="visually-hidden">Main Navigation - Artistic Embroidery</h1>
<div class="navbar-top style-one bgc-lighter">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-xl-6 col-lg-6 col-md-6 align-self-center d-none d-sm-block">
        <ul class="topbar-left justify-content-center justify-content-lg-start">
          <li>
            <i class="icon fas fa-phone-volume"></i>
            <b>Call: <a href="tel:+18622764283">(862) 276-4283</a></b>
          </li>
        </ul>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6">
        <ul class="topbar-right justify-content-center justify-content-lg-end">
          <li class="social-style-two">
            <a href="https://www.facebook.com/ArtisticEMBNJ/" target="_blank" aria-label="Facebook">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/artisticembroiderynj/" target="_blank" aria-label="Instagram">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://wa.me/18622764283" target="_blank" aria-label="WhatsApp">
              <i class="fab fa-whatsapp"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Navbar Main -->
<nav class="navbar style-one rel navbar-area navbar-expand-lg py-20">
  <div class="container-fluid d-flex justify-content-between align-items-center position-relative">
    <button class="menu toggle-btn" aria-label="Toggle navigation" aria-expanded="false">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
    <!-- Logo -->
    <div class="logo">
      <a href="/">
        <Image src={logo} alt="Artistic Embroidery Logo" width={120} height={60} loading="eager" />
      </a>
    </div>

    <div class="collapse navbar-collapse" id="Iitechie_main_menu">
      <ul class="navbar-nav menu-open mx-auto">
        <li><a href="/services/embroidery" aria-label="View embroidery service">Embroidery</a></li>
        <li><a href="/services/screenPrinting" aria-label="View screen printing service">Screen Printing</a></li>

        <li class="menu-item-has-children">
          <a href="/services/digitalTransfers" aria-label="View digital transfer services">Digital Transfers</a>
          <ul class="sub-menu text-dark">
            <li><a href="/services/dtfPrinting" aria-label="View DTF printing service">DTF</a></li>
            <li><a href="/services/dtgPrinting" aria-label="View DTG printing service">DTG</a></li>
            <li>
              <a href="/services/heatTransferPrinting" aria-label="View heat transfer printing service">Heat Transfer</a>
            </li>
          </ul>
        </li>

        <li class="menu-item-has-children">
          <a href="/services/offsetPrinting" aria-label="View offset printing options">Offset Printing</a>
          <ul class="sub-menu text-dark">
            <li><a href="/businesscards.html" aria-label="View business card printing service">Business Cards</a></li>
            <li><a href="/postcards.html" aria-label="View postcard printing service">Postcards</a></li>
            <li><a href="/banners.html" aria-label="View banner printing service">Banners</a></li>
            <li><a href="/cardoormagnets.html" aria-label="View car door magnet printing service">Car Door Magnets</a></li>
          </ul>
        </li>

        <li><a href="/contact.html" aria-label="Contact Artistic Embroidery">Contact</a></li>
      </ul>
    </div>

    <div class="nav-right-part nav-right-part-desktop d-none d-md-none d-sm-block d-lg-block">
      <a href="/contact.html" class="theme-btn style-two" aria-label="Start your order with Artistic Embroidery">
        Get Started <i class="fas fa-arrow-right"></i>
      </a>
    </div>
  </div>
</nav>
