---
const { title, breadcrumb } = Astro.props;
---

<!-- Page Banner Start -->
<section
  class="page-banner bgs-cover text-white pt-65 pb-75"
  style={`background-image: url('/assets/images/banner.jpg');`}
>
  <div class="container">
    <div class="banner-inner">
      <h1 class="page-title wow fadeInUp delay-0-2s">{title}</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb wow fadeInUp delay-0-4s">
          <li class="breadcrumb-item"><a href="/" aria-label="Home page">Home</a></li>
          <li class="breadcrumb-item active">{breadcrumb}</li>
        </ol>
      </nav>
    </div>
  </div>
</section>
<!-- Page Banner End -->
