---

---

<!-- Related Product Area start -->
<section class="related-product-area mt-90 mb-70">
  <div class="container pb-55">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-7">
        <div class="section-title text-center mb-35 wow fadeInUp delay-0-2s">
          <h2>Related Product</h2>
        </div>
      </div>
    </div>
    <div class="realated-product-slider">
      <div class="product-item wow fadeInUp delay-0-2s">
        <div class="image">
          <span class="badge">Top Sell</span>
          <img src="assets/images/shop/product1.jpg" alt="Product" />
        </div>
        <div class="content">
          <div class="title-price">
            <h5><a href="product-details.html">Business Card</a></h5>
          </div>
        </div>
      </div>
      <div class="product-item wow fadeInUp delay-0-4s">
        <div class="image">
          <span class="badge red">Offer</span>
          <img src="assets/images/shop/product2.jpg" alt="Product" />
        </div>
        <div class="content">
          <div class="title-price">
            <h5><a href="product-details.html">ID Card Printing</a></h5>
          </div>
        </div>
      </div>
      <div class="product-item wow fadeInUp delay-0-6s">
        <div class="image">
          <img src="assets/images/shop/product3.jpg" alt="Product" />
        </div>
        <div class="content">
          <div class="title-price">
            <h5><a href="product-details.html">Coffee Mug</a></h5>
          </div>
        </div>
      </div>
      <div class="product-item wow fadeInUp delay-0-8s">
        <div class="image">
          <img src="assets/images/shop/product4.jpg" alt="Product" />
        </div>
        <div class="content">
          <div class="title-price">
            <h5><a href="product-details.html">Packet Design</a></h5>
          </div>
        </div>
      </div>
      <div class="product-item wow fadeInUp delay-0-4s">
        <div class="image">
          <span class="badge pink">-25%</span>
          <img src="assets/images/shop/product5.jpg" alt="Product" />
        </div>
        <div class="content">
          <div class="title-price">
            <h5><a href="product-details.html">T-Shirt Design</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Related Product Area end -->
