---
import { Image } from 'astro:assets';
import heroLeftImage from '../assets/images/hero/hero-two-left.png';
import heroRightImage from '../assets/images/hero/hero-two-right.png';
---

<!-- hero Area start -->
<div class="hero-two-area text-center pt-10 pb-60 rel z-1">
  <div class="container-fluid pt-30 rpt-0">
    <div class="row justify-content-around">
      <div class="col-xl-3 col-lg-3">
        <div class="hero-left-image mb-50 rel wow zoomIn delay-0-9s">
          <Image src={heroLeftImage} alt="embroidery service" width={500} height={500} loading="eager" />
          <div class="circle-square circle-blue">
            <div class="shape-inner">
              <span class="dot-one"></span>
              <span class="dot-two"></span>
              <span class="dot-three"></span>
              <span class="dot-four"></span>
              <span class="dot-five"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-5 col-lg-8 col-md-10 col-sm-12 align-self-center">
        <div class="hero-two-content rel z-2 mb-20 wow fadeInDown delay-0-2s" aria-labelledby="hero-heading">
          <span class="sub-title mt-25 mb-35">Branded for Life & Work</span>

          <h1 id="hero-heading" role="heading" aria-level="1" aria-label="Embroidery and Screen Printing Services">Embroidery and Screen Printing Services</h1>
          <h2 class="visually-hidden" role="heading" aria-level="2" aria-label="Main hero introduction: High-quality embroidery and screen printing services">Main Hero Introduction</h2>
          <p class="mt-25">
            We specialize in bringing your ideas to life with high-quality embroidery and screen printing, tailored for
            both personal and professional impact.
          </p>
          <a href="tel:+18622764283" class="theme-btn mt-50" aria-label="Call Artistic Embroidery now at (862) 276-4283 for embroidery and screen printing">
            Call Us <i class="fas fa-phone"></i>
          </a>
        </div>
      </div>

      <div class="col-xl-4 align-self-end">
        <div class="hero-right-image mb-150 rel wow zoomIn delay-0-9s">
          <Image src={heroRightImage} alt="screen printing service" width={500} height={500} loading="eager" />
          <div class="circle-square circle-purple">
            <div class="shape-inner">
              <span class="dot-one"></span>
              <span class="dot-two"></span>
              <span class="dot-three"></span>
              <span class="dot-four"></span>
              <span class="dot-five"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- hero Area end -->
